* {
  box-sizing: border-box;
}
.container {
  float: left;
  width: 50%;
}

.green {
  float: left;
  background-color: green;
}
.red {
  float: right;
  background-color: red;
}
.footer {
  border: 2px solid black;
  height: 30px;
  clear: both;
}
