.container {
  box-sizing: 50%;
}
.green {
  height: 100px;
  background-color: green;
}
.red {
  float: right;
  background-color: red;
}
.footer {
  border: 2px solid black;
  height: 30px;
  clear: both;
}
